<style>
body {
    background: #eee;
}
</style>
<h1>Project Hunter</h1>
<%= link_to "Project List", "/projects" %>
<%= link_to "Parse new projects", "/parser/exec" %>

<br>
Purpose of this app is to find projects that have not too much bids.
